body {
  margin: 0;
  font-family: sans-serif;
  background-color: #eee;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  margin-bottom: 50px;
}

.nav {
  display: flex;
  flex-direction: row;
  margin: 30px 0 0;
}

.nav a {
  padding: 10px;
  text-decoration: none;
  font-weight: 500;
}